html, body {
    font: normal 100%  "RobotoSlab-light", "RobotoSlab-regular", "RobotoSlab-bold", Calibri, Candara, sans-serif;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}


#page {
    width: 100%;
    height: auto;
}

@media (min-width: 1200px) {
    .col-lg-8 {
        /* float: left; */
        width: 60.841874084%;
        float: none;
        margin: 0 auto;
    }
}


.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-10, .col-lg-12 {
    padding: auto;
    margin: 0 auto;
}

.col-md-1, .col-xs-6, .col-xs-8 {
    padding: auto;
    margin: 0 auto;
}


@font-face {
    font-family: "RobotoSlab-light";
    src: url("../static/font/Roboto_Slab_Light.ttf");
}

@font-face {
    font-family: "RobotoSlab-regular";
    src: url("../static/font/Roboto_Slab_Regular.ttf");
}

@font-face {
    font-family: "RobotoSlab-bold";
    src: url("../static/font/Roboto_Slab_Bold.ttf");
}



a {
    text-decoration: none;
    color: white;
    font-family: inherit;
}

a:hover {
    cursor: hand;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-family: RobotoSlab-bold;
    font-weight: bold;
}

.regular {
    font-family: RobotoSlab-regular;
    font-weight: lighter;
}

.white {
    color: white;
}

.orange_text {
    color: #dd4b2b;
}



li {
    list-style: none;
}

.container {
    width: 63.88760%;
    background: transparent;
    margin: 0 auto;
}


.container_80 {
    width: 80%;
    margin: 0 auto;
}


@media screen and (max-width: 768px) {
    .container_80 {
        width: 95%;
        margin: 0 auto;
    }
}

.container_75 {
    width: 75%;
    margin: 0 auto;
}

.container_70 {
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .container_70 {
        width: 80%;
        margin: 0 auto;
    }
}

.container_60 {
     width: 67%;
    margin: 0 auto;
 }

.container_50 {
    width: 46.5%;
}

@media screen and (max-width: 768px) {
    .container_50 {
        width: 65%;
        margin: 0 auto;
    }
}

.container_50_const {
    width: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .container_50_const {
        width: 100%;
        margin: 0 auto;
    }
}



.button {

    height: 40px;
    margin: 0 auto;
}

.btn-default {
    margin: 0 auto;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
}

.center-block {
    float: none;
    display: block;
}

@media screen and (min-width: 2200px) {
    .col-lg-8, .col-lg-9 {
        width: 50%;
    }
}


@media screen and (min-width: 2600px) {
    .col-lg-8, .col-lg-9 {
        width: 40%;
    }
}

@media screen and (min-width: 3100px) {
    .col-lg-8, .col-lg-9 {
        width: 30%;
    }
}

@media screen and (min-width: 1200px) {
    header .button .btn-default {
        width: 17%;
    }
}


@media screen and (min-width: 2600px) {
    header .button .btn-default {
        width: 15%;
    }
}

@media screen and (min-width: 3100px) {
    header .button .btn-default {
        width: 12%;
    }
}